.nav_right{
    margin: 8px;
    
}


footer{
    background-color: #77dd77;
    position: relative;
    bottom: 0;
    width: 100%;
    color: black;
    height: auto;
    padding: 20px;
    margin-bottom: 0;
}

.footer_icon_margin{
    margin: 10px;
    
}
.footer_content > a {
    text-decoration: none;
    color: black;
}

.login_box{
    display: flex;
    border: 1px solid red;
    height: 400px;
    width: 600px;
    position: relative;
    padding: 30px;
    margin: 30px;
    text-align: center;
    justify-content: center;
}