.nav_right{
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.nav_color{
    color: white;
}


footer{
    background-color: #5b7dcf;
    position: relative;
    bottom: 0;
    width: 100%;
    color: black;
    height: auto;
    padding: 20px;
    margin-bottom: 0;
}

.footer_icon_margin{
    margin: 10px;
    
}
.footer_content > a {
    text-decoration: none;
    color: black;
}

.login_box{
    display: flex;
    
    height: 600px;
    width: 400px;
    position: relative;
    padding: 30px;
    margin: 30px;
    text-align: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: #d3bcf6;
}

.login_form{
    display: flex;
    justify-content: center;
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
    
}

.input_box{
    margin: 8px;
}

.login_box_title{
    font-weight: bold;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input{
    border-radius: 10px;
    background-color: #cce5ff;
    border: 0;
    padding: 10px;
}
.login_btn_content > button{
    border-radius: 10px;
    background-color: #ffe4e1;
    border: 0;
    
    margin-top: 20px;
}
    


.login_btn:hover{
    background-color: #f9a59a;
}

.hr_css{
    margin-top: 40px;
    margin-bottom: 40px;
}

.lost_content{
    margin: 15px;
}

.lost_id_content{
    margin: 8px;
}

.lost_id_content > a{
    text-decoration: none;

}

.lost_pw_content > a{
    text-decoration: none;
    
}

.main_title  {
    text-align: center;
}

.trip_card{
    display: flex;
    align-items: center;
    margin: 10px;
}

.card_margin{
    margin: 10px;
}